*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    width: 85%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3f4e77;
} 
.container > h1
{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 50px;
    letter-spacing: 5px;
    color: #fff;
}
.container h1 span
{
    color: #ff1111;
    margin: 0 5px;
}
#app
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev, .next
{
    font-size: 3rem;
    margin: 0 1rem;
    color: #d6d8cd;
}
.carosel
{
margin-top: 3rem;
}
.carosel > img
{
    width: 600px;
    height: 400px;
    object-fit: cover;
    padding: 0.25rem;
    border: groove 3px #fff;
}
.controls
{
    display: flex;
    justify-content: center;
}
.dot
{
    color: #fff;
    font-size: 3rem;
    margin: 1rem 2rem;
}
